{#{% load static %}#}
{#<div class="container-fluid pt-5 pb-3" style="width: 95%">#}
{#        <a href="{% url 'core:home1' 'Дверная фурнитура' 'all'%}" class="text-decoration-none"><h2 class="text-uppercase mx-xl-5 mb-4 justify-content-center bg-default" >Дверная фурнитура</h2></a>#}
{#        <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">#}
{#            <div class="carousel-inner" role="listbox">#}
{#                <div class="carousel-item active">#}
{#                    <div class="col-lg-2 col-md-2 col-sm-5 pb-1 col-6">#}
{#                        <div class="product-item bg-light mb-4">#}
{#                            <a href="{{ item1.get_absolute_url }}">#}
{#                            <div class="product-img position-relative overflow-hidden">#}
{#                                <img class="img" src="{% static 'img/item.webp' %}" alt="">#}
{#                            </div>#}
{#                            </a>#}
{#                            <div class="text-center py-4" style="word-break: break-word;">#}
{#                                <a class="text-decoration-none" href="{{ item1.get_absolute_url }}"><p class="h6">{{ item1.title }}</p></a>#}
{##}
{#                                <div class="d-flex align-items-center justify-content-center mt-2">#}
{#                                    <h5>{{ item1.get_price }}₸</h5>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="d-flex align-items-center justify-content-center">#}
{#                                <button style="border-radius: 15px; color: dodgerblue" class="btn btn-outline-dark" id="add_to_card"  value="{{ item1.slug }}" type="button"><i class="fa fa-shopping-cart bg-transparent" style="color: dodgerblue"></i></button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                {% for item in object_list %}#}
{#                <div class="carousel-item ">#}
{#                    <div class="col-lg-2 col-md-2 col-sm-5 pb-1 col-6">#}
{#                        <div class="product-item bg-light mb-4">#}
{#                            <a href="{{ item.get_absolute_url }}">#}
{#                            <div class="product-img position-relative overflow-hidden">#}
{#                                <img class="img" src="{% static 'img/item.webp' %}" alt="">#}
{#                            </div>#}
{#                            </a>#}
{#                            <div class="text-center py-4" style="word-break: break-word;">#}
{#                                <a class="text-decoration-none" href="{{ item.get_absolute_url }}"><p class="h6">{{ item.title }}</p></a>#}
{##}
{#                                <div class="d-flex align-items-center justify-content-center mt-2">#}
{#                                    <h5>{{ item.get_price }}₸</h5>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="d-flex align-items-center justify-content-center">#}
{#                                <button style="border-radius: 15px; color: dodgerblue" class="btn btn-outline-dark" id="add_to_card"  value="{{ item.slug }}" type="button"><i class="fa fa-shopping-cart bg-transparent" style="color: dodgerblue"></i></button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#            <a class="carousel-control-prev bg-transparent w-20" href="#recipeCarousel" role="button" data-bs-slide="prev" style="width: 100px">#}
{#                <span class="carousel-control-prev-icon bg-dark" aria-hidden="true" style="margin-right: 85px"></span>#}
{#            </a>#}
{#            <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next" style="width: 100px">#}
{#                <span class="carousel-control-next-icon bg-dark" aria-hidden="true" style="margin-left: 85px"></span>#}
{#            </a>#}
{#        </div>#}
{#    </div>#}
{#    <div class="d-flex align-items-center justify-content-center">#}
{#        <a style="border-radius: 50px; margin-top: 60px" class="btn btn-outline-dark" href="{% url 'core:home1' 'Дверная фурнитура' 'all'%}"> Смотреть еще </a>#}
{#    </div>#}

{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proplex.kz</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{% static 'css/style4.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/newstyle.css' %}">
    <link rel="stylesheet" type="text/css" href="http://schauhan.in/Examples/ecommerce_product_slider/style1.css" />
    <link rel="stylesheet" type="text/css" href="http://schauhan.in/Examples/ecommerce_product_slider/lightslider.css" />
    <script src="http://schauhan.in/Examples/ecommerce_product_slider/jquery-3.5.1.js" ></script>
    <script src="http://schauhan.in/Examples/ecommerce_product_slider/lightslider.js" ></script>
    <script>
          $(document).ready(function() {
        $('#autoWidth1').lightSlider({
            autoWidth:true,
            loop:true,
            onSliderLoad: function() {
                $('#autoWidth').removeClass('cS-hidden');
            }
        });
      });
	</script>
    <style>
        .img{
            width: 100%;
            height: 100%;
        }
        @media screen  and (max-width: 760px){
            .img{
                width: 160px;
            }
        }
    </style>
</head>
<body>
    {% include "navbar.html" %}
<div class="container-fluid pt-5 pb-3" style="width: 95%">
<a href="{% url 'core:home1' 'Дверная Фурнитура' 'all'%}" class="text-decoration-none">  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4 justify-content-center" style="padding-top: 50px">Дверная фурнитура</h2></a>
<section class="slider mt-5" style="height: 100%">
	<ul id="autoWidth1" class="cs-hidden" >
    {% for item in object_list %}
      <li class="item-a">
        <div class="box">
           <a href="{{ item.get_absolute_url }}">
            <div class="product-img position-relative overflow-hidden">
                <img class="img" src="{% static 'img/item.webp' %}" alt="">
            </div>
            </a>
            <div class="text-center py-4" style="word-break: break-word; width: 100%;">
                <a class="text-decoration-none" href="{{ item.get_absolute_url }}"><p class="h6">{{ item.title }}</p></a>

                <div class="d-flex align-items-center justify-content-center mt-2">
                    <h5>{{ item.get_price }}₸</h5>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <button style="border-radius: 15px; color: dodgerblue" class="btn btn-outline-dark" id="add_to_card"  value="{{ item.slug }}" type="button"><i class="fa fa-shopping-cart bg-transparent" style="color: dodgerblue"></i></button>
            </div>
        </div>
       </li>
    {% endfor %}
</ul>
	</section>
</div>
{% include "carousel2.html" %}
{% include "carousel3.html" %}
{% include "carousel4.html" %}
{% include "carousel5.html" %}
{% include "carousel6.html" %}
{% include "footer.html" %}
</body>
</html>
