{% load static %}
<script>
      $(document).ready(function() {
    $('#autoWidth5').lightSlider({
        autoWidth:true,
        loop:true,
        onSliderLoad: function() {
            $('#autoWidth4').removeClass('cS-hidden');
        }
    });
  });
</script>
<div class="container-fluid pt-5 pb-3" style="width: 95%">
        <a href="{% url 'core:home1' 'стеклопакет' 'all'%}" class="text-decoration-none"> <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4 justify-content-center" style="padding-top: 50px">СТЕКЛОПАКЕТ</h2></a>
    <section class="slider mt-5" style="height: 100%">
    <ul id="autoWidth5" class="cs-hidden" >
    {% for item in object_list5 %}
      <li class="item-a">
        <div class="box">
           <a href="{{ item.get_absolute_url }}">
            <div class="product-img position-relative overflow-hidden">
                <img class="img" src="{% static 'img/item.webp' %}" alt="">
            </div>
            </a>
            <div class="text-center py-4" style="word-break: break-word; max-height: 100px; min-height: 100px;">
                <a class="text-decoration-none" href="{{ item.get_absolute_url }}"><p class="h6">{{ item.title }}</p></a>

                <div class="d-flex align-items-center justify-content-center mt-2">
                    <h5>{{ item.get_price }}₸</h5>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center" style="max-height: 50px; min-height: 50px;">
                <button style="border-radius: 15px; color: dodgerblue" class="btn btn-outline-dark" id="add_to_card"  value="{{ item.slug }}" type="button"><i class="fa fa-shopping-cart bg-transparent" style="color: dodgerblue"></i></button>
            </div>
        </div>
       </li>
    {% endfor %}
</ul>
	</section>
    </div>
    <div class="d-flex align-items-center justify-content-center">
            <a style="border-radius: 50px; margin-top: 60px" class="btn btn-outline-dark" href="{% url 'core:home1' 'стеклопакет' 'all'%}"> Смотреть еще </a>
    </div>