{#<!DOCTYPE html>#}
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gauge Chart with datalabels plugin displaying labels</title>
  <script src="https://unpkg.com/chart.js@2.8.0/dist/Chart.bundle.js"></script>
  <script src="https://unpkg.com/chartjs-gauge@0.3.0/dist/chartjs-gauge.js"></script>
  <script src="https://unpkg.com/chartjs-plugin-datalabels@0.7.0/dist/chartjs-plugin-datalabels.js"></script>
{#        <link href="{% static 'css/style10.css'%}" rel="stylesheet">#}
</head>
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

<!-- Chart code -->
<body>
<script>
am5.ready(function() {
var root = am5.Root.new("chartdiv");
var chart = root.container.children.push(am5radar.RadarChart.new(root, {
  panX: false,
  panY: false,
  startAngle: 180,
  endAngle: 360
}));
var axisRenderer = am5radar.AxisRendererCircular.new(root, {
  innerRadius: -25
});

axisRenderer.grid.template.setAll({
  stroke: false,
  visible: true,
  strokeOpacity: 0.8
});

var xAxis = chart.xAxes.push(am5xy.ValueAxis.new(root, {
  min: -100,
  max: 100,
  strictMinMax: true,
  renderer: axisRenderer
}));
var axisDataItem = xAxis.makeDataItem({});

var clockHand = am5radar.ClockHand.new(root, {
  pinRadius: am5.percent(12),
  radius: am5.percent(100),
  bottomWidth: 20
})

var bullet = axisDataItem.set("bullet", am5xy.AxisBullet.new(root, {
  sprite: clockHand
}));

xAxis.createAxisRange(axisDataItem);

var label = chart.radarContainer.children.push(am5.Label.new(root, {
  fill: am5.color(0xffffff),
  centerX: am5.percent(55),
  textAlign: "center",
  centerY: am5.percent(50),
  fontSize: "100%"
}));
axisDataItem.set("value",({{ beeline_nps }}[0]-{{ beeline_nps }}[2])/({{ beeline_nps }}[0] + {{ beeline_nps }}[1]+{{ beeline_nps }}[2]) * 100);
bullet.get("sprite").on("rotation", function () {
  var value = axisDataItem.get("value");
  xAxis.axisRanges.each(function (axisRange) {
    if (value >= axisRange.get("value") && value <= axisRange.get("endValue"))
      fill = axisRange.get("axisFill").get("fill");
  })
  label.set("text", Math.round(value).toString());
  clockHand.pin.animate({ key: "fill", to: fill, duration: 500, easing: am5.ease.out(am5.ease.cubic) })
  clockHand.hand.animate({ key: "fill", to: fill, duration: 500, easing: am5.ease.out(am5.ease.cubic) })
});
var bandsData = [{
  angle: 180,
  color: "#ee1f25",
  lowScore: -100,
  highScore: -80
}, {
  color: "#f04922",
  angle: 198,
  lowScore: -80,
  highScore: -60
}, {
  color: "#f04922",
  lowScore: -60,
  angle: 216,
  highScore: -40
}, {
  color: "#f04922",
  angle: 234,
  lowScore: -40,
  highScore: -20
}, {
  color: "#f04922",
  angle: 252,
  lowScore: -20,
  highScore: 0
}, {
  color: "#ACE1AF",
  angle: 270,
  lowScore: 0,
  highScore: 20
}, {
  color: "#4FFFB0",
  angle: 288,
  lowScore: 20,
  highScore: 40
},
{
  color: "#32de84",
  angle: 306,
  lowScore: 40,
  highScore: 60
},{
  color: "#17B169",
  angle: 324,
  lowScore: 60,
  highScore: 80
},{
  color: "#228B22",
  angle: 342,
  lowScore: 80,
  highScore: 100
}];

am5.array.each(bandsData, function (data) {
  var axisRange = xAxis.createAxisRange(xAxis.makeDataItem({}));
  axisRange.setAll({
    value: data.lowScore,
    endValue: data.highScore,
    startAngle: data.angle,
    endAngle: data.angle+18,
  });

  axisRange.get("axisFill").setAll({
    fill: am5.color(data.color),
    fillOpacity: 0.9
  });
});
chart.appear(3000);

});
</script>
<script>
am5.ready(function() {
var root = am5.Root.new("chartdiv1");
var chart = root.container.children.push(am5radar.RadarChart.new(root, {
  panX: false,
  panY: false,
  startAngle: 180,
  endAngle: 360
}));
var axisRenderer = am5radar.AxisRendererCircular.new(root, {
  innerRadius: -25
});

axisRenderer.grid.template.setAll({
  stroke: false,
  visible: true,
  strokeOpacity: 0.8
});

var xAxis = chart.xAxes.push(am5xy.ValueAxis.new(root, {
  min: -100,
  max: 100,
  strictMinMax: true,
  renderer: axisRenderer
}));
var axisDataItem = xAxis.makeDataItem({});

var clockHand = am5radar.ClockHand.new(root, {
  pinRadius: am5.percent(12),
  radius: am5.percent(100),
  bottomWidth: 20
})

var bullet = axisDataItem.set("bullet", am5xy.AxisBullet.new(root, {
  sprite: clockHand
}));

xAxis.createAxisRange(axisDataItem);

var label = chart.radarContainer.children.push(am5.Label.new(root, {
  fill: am5.color(0xffffff),
  centerX: am5.percent(55),
  textAlign: "center",
  centerY: am5.percent(50),
  fontSize: "100%"
}));
axisDataItem.set("value",({{ ucell_nps }}[0]-{{ ucell_nps }}[2])/({{ ucell_nps }}[0] + {{ ucell_nps }}[1]+{{ ucell_nps }}[2]) * 100);
bullet.get("sprite").on("rotation", function () {
  var value = axisDataItem.get("value");
  xAxis.axisRanges.each(function (axisRange) {
    if (value >= axisRange.get("value") && value <= axisRange.get("endValue"))
      fill = axisRange.get("axisFill").get("fill");
  })
  label.set("text", Math.round(value).toString());
  clockHand.pin.animate({ key: "fill", to: fill, duration: 500, easing: am5.ease.out(am5.ease.cubic) })
  clockHand.hand.animate({ key: "fill", to: fill, duration: 500, easing: am5.ease.out(am5.ease.cubic) })
});
var bandsData = [{
  angle: 180,
  color: "#ee1f25",
  lowScore: -100,
  highScore: -80
}, {
  color: "#f04922",
  angle: 198,
  lowScore: -80,
  highScore: -60
}, {
  color: "#f04922",
  lowScore: -60,
  angle: 216,
  highScore: -40
}, {
  color: "#f04922",
  angle: 234,
  lowScore: -40,
  highScore: -20
}, {
  color: "#f04922",
  angle: 252,
  lowScore: -20,
  highScore: 0
}, {
  color: "#ACE1AF",
  angle: 270,
  lowScore: 0,
  highScore: 20
}, {
  color: "#4FFFB0",
  angle: 288,
  lowScore: 20,
  highScore: 40
},
{
  color: "#32de84",
  angle: 306,
  lowScore: 40,
  highScore: 60
},{
  color: "#17B169",
  angle: 324,
  lowScore: 60,
  highScore: 80
},{
  color: "#228B22",
  angle: 342,
  lowScore: 80,
  highScore: 100
}];

am5.array.each(bandsData, function (data) {
  var axisRange = xAxis.createAxisRange(xAxis.makeDataItem({}));
  axisRange.setAll({
    value: data.lowScore,
    endValue: data.highScore,
    startAngle: data.angle,
    endAngle: data.angle+18,
  });

  axisRange.get("axisFill").setAll({
    fill: am5.color(data.color),
    fillOpacity: 0.9
  });
});
chart.appear(3000);

});
</script>
<script>
am5.ready(function() {
var root = am5.Root.new("chartdiv2");
var chart = root.container.children.push(am5radar.RadarChart.new(root, {
  panX: false,
  panY: false,
  startAngle: 180,
  endAngle: 360
}));
var axisRenderer = am5radar.AxisRendererCircular.new(root, {
  innerRadius: -25
});

axisRenderer.grid.template.setAll({
  stroke: false,
  visible: true,
  strokeOpacity: 0.8
});

var xAxis = chart.xAxes.push(am5xy.ValueAxis.new(root, {
  min: -100,
  max: 100,
  strictMinMax: true,
  renderer: axisRenderer
}));
var axisDataItem = xAxis.makeDataItem({});

var clockHand = am5radar.ClockHand.new(root, {
  pinRadius: am5.percent(12),
  radius: am5.percent(100),
  bottomWidth: 20
})

var bullet = axisDataItem.set("bullet", am5xy.AxisBullet.new(root, {
  sprite: clockHand
}));

xAxis.createAxisRange(axisDataItem);

var label = chart.radarContainer.children.push(am5.Label.new(root, {
  fill: am5.color(0xffffff),
  centerX: am5.percent(55),
  textAlign: "center",
  centerY: am5.percent(50),
  fontSize: "100%"
}));
axisDataItem.set("value",({{ uzmobile_nps }}[0]-{{ uzmobile_nps }}[2])/({{ uzmobile_nps }}[0] + {{ uzmobile_nps }}[1]+{{ uzmobile_nps }}[2]) * 100);
bullet.get("sprite").on("rotation", function () {
  var value = axisDataItem.get("value");
  xAxis.axisRanges.each(function (axisRange) {
    if (value >= axisRange.get("value") && value <= axisRange.get("endValue"))
      fill = axisRange.get("axisFill").get("fill");
  })
  label.set("text", Math.round(value).toString());
  clockHand.pin.animate({ key: "fill", to: fill, duration: 500, easing: am5.ease.out(am5.ease.cubic) })
  clockHand.hand.animate({ key: "fill", to: fill, duration: 500, easing: am5.ease.out(am5.ease.cubic) })
});
var bandsData = [{
  angle: 180,
  color: "#ee1f25",
  lowScore: -100,
  highScore: -80
}, {
  color: "#f04922",
  angle: 198,
  lowScore: -80,
  highScore: -60
}, {
  color: "#f04922",
  lowScore: -60,
  angle: 216,
  highScore: -40
}, {
  color: "#f04922",
  angle: 234,
  lowScore: -40,
  highScore: -20
}, {
  color: "#f04922",
  angle: 252,
  lowScore: -20,
  highScore: 0
}, {
  color: "#ACE1AF",
  angle: 270,
  lowScore: 0,
  highScore: 20
}, {
  color: "#4FFFB0",
  angle: 288,
  lowScore: 20,
  highScore: 40
},
{
  color: "#32de84",
  angle: 306,
  lowScore: 40,
  highScore: 60
},{
  color: "#17B169",
  angle: 324,
  lowScore: 60,
  highScore: 80
},{
  color: "#228B22",
  angle: 342,
  lowScore: 80,
  highScore: 100
}];

am5.array.each(bandsData, function (data) {
  var axisRange = xAxis.createAxisRange(xAxis.makeDataItem({}));
  axisRange.setAll({
    value: data.lowScore,
    endValue: data.highScore,
    startAngle: data.angle,
    endAngle: data.angle+18,
  });

  axisRange.get("axisFill").setAll({
    fill: am5.color(data.color),
    fillOpacity: 0.9
  });
});
chart.appear(3000);

});
</script>
<script>
am5.ready(function() {
var root = am5.Root.new("chartdiv3");
var chart = root.container.children.push(am5radar.RadarChart.new(root, {
  panX: false,
  panY: false,
  startAngle: 180,
  endAngle: 360
}));
var axisRenderer = am5radar.AxisRendererCircular.new(root, {
  innerRadius: -25
});

axisRenderer.grid.template.setAll({
  stroke: false,
  visible: true,
  strokeOpacity: 0.8
});

var xAxis = chart.xAxes.push(am5xy.ValueAxis.new(root, {
  min: -100,
  max: 100,
  strictMinMax: true,
  renderer: axisRenderer
}));
var axisDataItem = xAxis.makeDataItem({});

var clockHand = am5radar.ClockHand.new(root, {
  pinRadius: am5.percent(12),
  radius: am5.percent(100),
  bottomWidth: 20
})

var bullet = axisDataItem.set("bullet", am5xy.AxisBullet.new(root, {
  sprite: clockHand
}));

xAxis.createAxisRange(axisDataItem);

var label = chart.radarContainer.children.push(am5.Label.new(root, {
  fill: am5.color(0xffffff),
  centerX: am5.percent(55),
  textAlign: "center",
  centerY: am5.percent(50),
  fontSize: "100%"
}));
axisDataItem.set("value",({{ mobiuz_nps }}[0]-{{ mobiuz_nps }}[2])/({{ mobiuz_nps }}[0] + {{ mobiuz_nps }}[1]+{{ mobiuz_nps }}[2]) * 100);
bullet.get("sprite").on("rotation", function () {
  var value = axisDataItem.get("value");
  xAxis.axisRanges.each(function (axisRange) {
    if (value >= axisRange.get("value") && value <= axisRange.get("endValue"))
      fill = axisRange.get("axisFill").get("fill");
  })
  label.set("text", Math.round(value).toString());
  clockHand.pin.animate({ key: "fill", to: fill, duration: 500, easing: am5.ease.out(am5.ease.cubic) })
  clockHand.hand.animate({ key: "fill", to: fill, duration: 500, easing: am5.ease.out(am5.ease.cubic) })
});
var bandsData = [{
  angle: 180,
  color: "#ee1f25",
  lowScore: -100,
  highScore: -80
}, {
  color: "#f04922",
  angle: 198,
  lowScore: -80,
  highScore: -60
}, {
  color: "#f04922",
  lowScore: -60,
  angle: 216,
  highScore: -40
}, {
  color: "#f04922",
  angle: 234,
  lowScore: -40,
  highScore: -20
}, {
  color: "#f04922",
  angle: 252,
  lowScore: -20,
  highScore: 0
}, {
  color: "#ACE1AF",
  angle: 270,
  lowScore: 0,
  highScore: 20
}, {
  color: "#4FFFB0",
  angle: 288,
  lowScore: 20,
  highScore: 40
},
{
  color: "#32de84",
  angle: 306,
  lowScore: 40,
  highScore: 60
},{
  color: "#17B169",
  angle: 324,
  lowScore: 60,
  highScore: 80
},{
  color: "#228B22",
  angle: 342,
  lowScore: 80,
  highScore: 100
}];

am5.array.each(bandsData, function (data) {
  var axisRange = xAxis.createAxisRange(xAxis.makeDataItem({}));
  axisRange.setAll({
    value: data.lowScore,
    endValue: data.highScore,
    startAngle: data.angle,
    endAngle: data.angle+18,
  });

  axisRange.get("axisFill").setAll({
    fill: am5.color(data.color),
    fillOpacity: 0.9
  });
});
chart.appear(3000);

});
</script>
{% load static %}
<header>
<div class="container">
            <div class="wrap-logo">
              <img src="">
            </div>

            <div class="wrap-logo2">
                <img src="" alt="ucell">
            </div>
        </div>
</header>
<div>
    <div >
        <div id="chartdiv1"></div>
        <h1>Ucell NPS</h1>
    </div>
    <div style="width: 70%; height: 300px">
        <img src="{% static 'img/green.png' %}">
        <img src="{% static 'img/yellow.png' %}">
        <img src="{% static 'img/red.png' %}">
    </div>
</div>
<div style="margin-top: 100px">
    <div id="canvas" style="width:25%; height: 200px; align-items: center; align-content: center; text-align: center">
        <div id="chartdiv"></div>
        <h1>Beeline NPS</h1>
    </div>
    <div id="canvas" style="width:25%; height: 200px; align-items: center; align-content: center; text-align: center">
        <div id="chartdiv2"></div>
        <h1>Uzmobile NPS</h1>
    </div>
    <div id="canvas" style="width:25%; height: 200px; align-items: center; align-content: center; text-align: center">
        <div id="chartdiv3"></div>
        <h1>Mobiuz NPS</h1>
    </div>
</div>

  <div id="canvas-holder" style="width:25%; align-items: center; align-content: center; text-align: center">
      <canvas id="Ucell_NPS"></canvas>
       <h1>Ucell NPS - {{ ucell_nps }}%</h1>
  </div>
  <div id="canvas-holder" style="width:25%; align-items: center; align-content: center; text-align: center">
      <canvas id="Uzmobile_NPS"></canvas>
       <h1>Uzmobile NPS - {{ uzmobile_nps }}%</h1>
  </div>
    <div id="canvas-holder" style="width:25%; align-items: center; align-content: center; text-align: center">
      <canvas id="Mobiuz_NPS"></canvas>
       <h1>Mobiuz NPS - {{ mobiuz_nps }}%</h1>
  </div>
</div>=

</script><script>
let sum1 = ({{ ucell_p }} + {{ ucell_k }} + {{ ucell_n }});
let promouters1 = {{ ucell_p }};
let kritics1 ={{ ucell_k }};
console.log(sum1)
let configg1 = {
  type: 'gauge',
  data: {
    labels: ['Критики', 'Нейтралы', 'Промоутеры', 'Very good'],
    datasets: [{
      data: [sum1,
          sum1 + sum1*3/10,
          sum1 + sum1*5/10,
          sum1 + sum1],
      value: sum1 + (promouters1 - kritics1),
      backgroundColor: ['red', 'orange', 'rgb(102, 204, 153)', 'green'],
      borderWidth: 2
    }]
  },
  options: {
    responsive: true,
    title: {
      display: true,
      text: 'Gauge chart with datalabels plugin displaying labels'
    },
    layout: {
      padding: {
        bottom: 30
      }
    },
    needle: {
      radiusPercentage: 2,
      widthPercentage: 3.2,
      lengthPercentage: 80,
      color: 'rgba(0, 0, 0, 1)'
    },
    valueLabel: {
      display: false
    },
    plugins: {
      datalabels: {
        display: false,
        formatter:  function (value, context) {
          return context.chart.data.labels[context.dataIndex];
        },
        color: 'rgba(0, 0, 0, 1.0)',
        backgroundColor: null,
        font: {
          size: 20,
          weight: 'bold'
        }
      }
    }
  }
};
const myChar1 = new Chart(
      document.getElementById('Ucell_NPS'),
      configg1
    );
</script>
<script>
let sum2 = ({{ uzmobile_p }} + {{ uzmobile_k }} + {{ uzmobile_n }});
let promouters2 = {{ uzmobile_p }};
let kritics2 ={{ uzmobile_k }};

console.log(sum2)
let configg2 = {
  type: 'gauge',
  data: {
    labels: ['Критики', 'Нейтралы', 'Промоутеры'],
    datasets: [{
      data: [sum2,
          sum2 + sum2*3/10,
          sum2 + sum2*5/10,
          sum2 + sum2],
      value: sum2 + (promouters2 - kritics2),
      backgroundColor: ['red', 'orange', 'rgb(102, 204, 153)', 'green'],
      borderWidth: 2
    }]
  },
  options: {
    responsive: true,
    title: {
      display: true,
      text: 'Gauge chart with datalabels plugin displaying labels'
    },
    layout: {
      padding: {
        bottom: 30
      }
    },
    needle: {
      radiusPercentage: 2,
      widthPercentage: 3.2,
      lengthPercentage: 80,
      color: 'rgba(0, 0, 0, 1)'
    },
    valueLabel: {
      display: false
    },
    plugins: {
      datalabels: {
        display: false,
        formatter:  function (value, context) {
          return context.chart.data.labels[context.dataIndex];
        },
        color: 'rgba(0, 0, 0, 1.0)',
        backgroundColor: null,
        font: {
          size: 20,
          weight: 'bold'
        }
      }
    }
  }
};
const myChar2 = new Chart(
      document.getElementById('Uzmobile_NPS'),
      configg2
    );
</script>
<script>
let sum3 = ({{ mobiuz_p }} + {{ mobiuz_k }} + {{ mobiuz_n }});
let promouters3 = {{ mobiuz_p }};
let kritics3 ={{ mobiuz_k }};
console.log(sum3)
let configg3 = {
  type: 'gauge',
  data: {
    labels: ['Критики', 'Нейтралы', 'Промоутеры'],
    datasets: [{
      data: [sum3,
          sum3 + sum3*3/10,
          sum3 + sum3*5/10,
          sum3 + sum3],
      value: sum3 + (promouters3 - kritics3),
      backgroundColor: ['red', 'orange', 'rgb(102, 204, 153)', 'green'],
      borderWidth: 2
    }]
  },
  options: {
    responsive: true,
    title: {
      display: true,
      text: 'Gauge chart with datalabels plugin displaying labels'
    },
    layout: {
      padding: {
        bottom: 30
      }
    },
    needle: {
      radiusPercentage: 2,
      widthPercentage: 3.2,
      lengthPercentage: 80,
      color: 'rgba(0, 0, 0, 1)'
    },
    valueLabel: {
      display: false
    },
    plugins: {
      datalabels: {
        display: false,
        formatter:  function (value, context) {
          return context.chart.data.labels[context.dataIndex];
        },
        color: 'rgba(0, 0, 0, 1.0)',
        backgroundColor: null,
        font: {
          size: 20,
          weight: 'bold'
        }
      }
    }
  }
};
const myChar3 = new Chart(
      document.getElementById('Mobiuz_NPS'),
      configg3
    );
</script>
    <div>
        <h1>Выборка</h1>
        <h3>{{ ucell }}</h3>
        <h3>{{ beeline }}</h3>
        <h3>{{ mobiuz }}</h3>
        <h3>{{ uzmobil }}</h3>
    </div>

    <div style="display: flex; justify-content: space-around">
        <div class="chartBox">
            <h1>Пол абонентов</h1>
            <canvas id="SexGroup" height="200px"></canvas>
        </div>
        <div class="chartBox">
            <h1>Возрастные группы</h1>
            <canvas id="YearGroup" height="200px"></canvas>
        </div>
    </div>
    <div class="chartBox" style="width: 100%; height: 200px">
        <h1>ТИП НАСЕЛЕННОГО ПУНКТА</h1>
        <canvas id="CityType"></canvas>
    </div>
    <div style="display: flex; justify-content: space-around">
        <div class="chartBox">
            <h1>Для связи на работе</h1>
            <canvas id="Work" height="200px"></canvas>
        </div>
        <div class="chartBox">
            <h1>Для общения (личный номер)</h1>
            <canvas id="Conversations" height="200px"></canvas>
        </div>
    </div>
    <div style="display: flex; justify-content: space-around">
        <div class="chartBox">
            <h1>Для звонков</h1>
            <canvas id="Calls" height="200px"></canvas>
        </div>
        <div class="chartBox">
            <h1>Для интернета</h1>
            <canvas id="Internet" height="200px"></canvas>
        </div>
    </div>
    <div class="chartBox" style="width: 100%; height: 200px">
        <h1>КОЛИЧЕСТВО СИМ-КАРТ</h1>
        <canvas id="NumberOfSims"></canvas>
    </div>
     <div class="chartBox" style="width: 100%; height: 200px">
        <h1>КОЛИЧЕСТВО СИМ-КАРТ</h1>
        <canvas id="period"></canvas>
    </div>











<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-stacked100@1.0.0"></script>
<script>
    Chart.register(ChartjsPluginStacked100.default);
    // setup
    const data = {
      labels: ['Ucell', 'Beeline', 'Uzmobile', 'MobiUz'],
      datasets: [{
        label: 'Мужчины',
        data: {{ mens }},
        backgroundColor: [
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
        ],
        borderColor: [
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
        ],
        borderWidth: 1
      },{
        label: 'Женщины',
        data: {{ womans }},
          backgroundColor: [
          'rgba(102, 204, 153, 1)',
          'rgba(102, 204, 153, 1)',
          'rgba(102, 204, 153, 1)',
          'rgba(102, 204, 153, 1)',
        ],
        borderColor: [
          'rgba(102, 204, 153, 1)',
          'rgba(102, 204, 153, 1)',
          'rgba(102, 204, 153, 1)',
          'rgba(102, 204, 153, 1)',
        ],
        borderWidth: 1
      }]
    };

    // config
    const config = {
      type: 'bar',
      data,
      options: {
        plugins: {
          stacked100: {
              enable: true,
          }
        },
        scales: {
          y: {
            beginAtZero: true,
          },
          x: {
              barThickness: 10,
          }
        }
      }
    };

    // render init block
    const myChart = new Chart(
      document.getElementById('SexGroup'),
      config
    );

    // Instantly assign Chart.js version
    const chartVersion = document.getElementById('chartVersion');
    chartVersion.innerText = Chart.version;
    </script>
<script>
    const data8 = {
      labels: ['Ucell', 'Beeline', 'Uzmobile', 'MobiUz'],
      datasets: [{
        label: 'до 3 мес',
        data:  {{ month3 }},
        backgroundColor: [
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
        ]
      },{
        label: 'Пол года',
        data: {{ month6 }},
        backgroundColor: [
          'rgba(165, 55, 253,1)',
          'rgba(165, 55, 253,1)',
          'rgba(165, 55, 253,1)',
          'rgba(165, 55, 253,1)',
        ]
      },{
        label: 'До 1 года',
        data: {{ month12 }},
        backgroundColor: [
          'rgba(165, 55, 253,1)',
          'rgba(165, 55, 253,1)',
          'rgba(165, 55, 253,1)',
          'rgba(165, 55, 253,1)',
        ]
      },{
        label: 'От 1 до 3 лет',
        data: {{ month36 }},
        backgroundColor: [
          'rgba(165, 55, 25,1)',
          'rgba(165, 55, 25,1)',
          'rgba(165, 55, 25,1)',
          'rgba(165, 55, 25,1)',
        ]
      },{
        label: 'От 3 до 5 лет',
        data: {{ month60 }},
        backgroundColor: [
          'rgba(16, 55, 253,1)',
          'rgba(16, 55, 253,1)',
          'rgba(16, 55, 253,1)',
          'rgba(16, 55, 253,1)',
        ]
      },{
        label: 'От 5 до 10 лет',
        data: {{ month120 }},
        backgroundColor: [
          'rgba(165, 120, 253,1)',
          'rgba(165, 120, 253,1)',
          'rgba(165, 120, 253,1)',
          'rgba(165, 120, 253,1)',
        ],
        borderColor: [
          'rgba(165, 120, 253,1)',
          'rgba(165, 120, 253,1)',
          'rgba(165, 120, 253,1)',
          'rgba(165, 120, 253,1)',
        ],
        borderWidth: 1
      }]
    };

    // config
    const config8 = {
      type: 'bar',
      data: data8,
      options: {
        plugins: {
          stacked100: {
              enable: true,
          }
        },
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };

    // render init block
    const myChart8 = new Chart(
      document.getElementById('period'),
      config8
    );
    </script>
    <script>
    const data7 = {
      labels: ['Ucell', 'Beeline', 'Uzmobile', 'MobiUz'],
      datasets: [{
        label: '1 Сим',
        data: {{ sim1 }},
        backgroundColor: [
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
        ],
        borderColor: [
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
        ],
        borderWidth: 1
      },{
        label: '2 Сим',
        data: {{ sim2 }},
        backgroundColor: [
          'rgba(165, 55, 253,1)',
          'rgba(165, 55, 253,1)',
          'rgba(165, 55, 253,1)',
          'rgba(165, 55, 253,1)',
        ],
        borderColor: [
          'rgba(165, 55, 253,1)',
          'rgba(165, 55, 253,1)',
          'rgba(165, 55, 253,1)',
          'rgba(165, 55, 253,1)',
        ],
        borderWidth: 1
      }]
    };

    // config
    const config7 = {
      type: 'bar',
      data: data7,
      options: {
        plugins: {
          stacked100: {
              enable: true,
          }
        },
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };

    // render init block
    const myChart7 = new Chart(
      document.getElementById('NumberOfSims'),
      config7
    );
    </script>
<script>
    const data1 = {
      labels: ['Ucell', 'Beeline', 'Uzmobile', 'MobiUz'],
      datasets: [{
        label: '16-19',
        data: {{ y16_19 }},
        backgroundColor: [
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
        ],
        borderColor: [
          'rgba(195, 255, 104,1)',
          'rgba(195, 255, 104,1)',
          'rgba(195, 255, 104,1)',
          'rgba(195, 255, 104,1)',
        ],
        borderWidth: 1
      },{
        label: '20-24',
        data: {{ y20_24 }},
        backgroundColor: [
          'rgba(239, 207, 227,1)',
          'rgba(239, 207, 227,1)',
          'rgba(239, 207, 227,1)',
          'rgba(239, 207, 227,1)',
        ],
        borderColor: [
          'rgba(239, 207, 227,1)',
          'rgba(239, 207, 227,1)',
          'rgba(239, 207, 227,1)',
          'rgba(239, 207, 227,1)',
        ],
        borderWidth: 1
      },{
        label: '25-34',
        data: {{ y25_34 }},
        backgroundColor: [
          'rgba(102, 204, 153, 1)',
          'rgba(102, 204, 153, 1)',
          'rgba(102, 204, 153, 1)',
          'rgba(102, 204, 153, 1)',
        ],
        borderColor: [
          'rgba(102, 204, 153, 1)',
          'rgba(102, 204, 153, 1)',
          'rgba(102, 204, 153, 1)',
          'rgba(102, 204, 153, 1)',
        ],
        borderWidth: 1
      },{
        label: '35-44',
        data: {{ y35_44 }},
        backgroundColor: [
          'rgba(227, 61, 148, 1)',
          'rgba(227, 61, 148, 1)',
          'rgba(227, 61, 148, 1)',
          'rgba(227, 61, 148, 1)',
        ],
        borderColor: [
          'rgba(227, 61, 148, 1)',
          'rgba(227, 61, 148, 1)',
          'rgba(227, 61, 148, 1)',
          'rgba(227, 61, 148, 1)',
        ],
        borderWidth: 1
      },{
        label: '45-54',
        data: {{ y45_54 }},
        backgroundColor: [
          'rgba(191, 191, 191,1)',
          'rgba(191, 191, 191,1)',
          'rgba(191, 191, 191,1)',
          'rgba(191, 191, 191,1)',
        ],
        borderColor: [
          'rgba(191, 191, 191,1)',
          'rgba(191, 191, 191,1)',
          'rgba(191, 191, 191,1)',
          'rgba(191, 191, 191,1)',
        ],
        borderWidth: 1
      },{
        label: '55+',
        data: {{ y55 }},
        backgroundColor: [
          'rgba(0, 0, 0,1)',
          'rgba(0, 0, 0,1)',
          'rgba(0, 0, 0,1)',
          'rgba(0, 0, 0,1)',
        ],
        borderColor: [
          'rgba(0, 0, 0,1)',
          'rgba(0, 0, 0,1)',
          'rgba(0, 0, 0,1)',
          'rgba(0, 0, 0,1)',
        ],
        borderWidth: 1
      }]
    };

    // config
    const config1 = {
      type: 'bar',
      data: data1,
      options: {
        plugins: {
          stacked100: {
              enable: true,
          }
        },
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };

    // render init block
    const myChart1 = new Chart(
      document.getElementById('YearGroup'),
      config1
    );
    </script>
<script>
    const data2 = {
      labels: ['Ucell', 'Beeline', 'Uzmobile', 'MobiUz'],
      datasets: [{
        label: 'Областной центр',
        data: {{ center }},
        backgroundColor: [
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
        ],
        borderColor: [
          'rgba(195, 255, 104,1)',
          'rgba(195, 255, 104,1)',
          'rgba(195, 255, 104,1)',
          'rgba(195, 255, 104,1)',
        ],
        borderWidth: 1
      },{
        label: 'Город',
        data: {{ city }},
        backgroundColor: [
          'rgba(239, 207, 227,1)',
          'rgba(239, 207, 227,1)',
          'rgba(239, 207, 227,1)',
          'rgba(239, 207, 227,1)',
        ],
        borderColor: [
          'rgba(239, 207, 227,1)',
          'rgba(239, 207, 227,1)',
          'rgba(239, 207, 227,1)',
          'rgba(239, 207, 227,1)',
        ],
        borderWidth: 1
      },{
        label: 'ПГТ',
        data: {{ pgt }},
        backgroundColor: [
          'rgba(102, 204, 153, 1)',
          'rgba(102, 204, 153, 1)',
          'rgba(102, 204, 153, 1)',
          'rgba(102, 204, 153, 1)',
        ],
        borderColor: [
          'rgba(102, 204, 153, 1)',
          'rgba(102, 204, 153, 1)',
          'rgba(102, 204, 153, 1)',
          'rgba(102, 204, 153, 1)',
        ],
        borderWidth: 1
      },{
        label: 'Село',
        data: {{ village }},
        backgroundColor: [
          'rgba(227, 61, 148, 1)',
          'rgba(227, 61, 148, 1)',
          'rgba(227, 61, 148, 1)',
          'rgba(227, 61, 148, 1)',
        ],
        borderColor: [
          'rgba(227, 61, 148, 1)',
          'rgba(227, 61, 148, 1)',
          'rgba(227, 61, 148, 1)',
          'rgba(227, 61, 148, 1)',
        ],
        borderWidth: 1
      }]
    };

    // config
    const config2 = {
      type: 'bar',
      data: data2,
      options: {
        indexAxis: 'y',
        plugins: {
          stacked100: {
              enable: true,
          }
        },
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };

    // render init block
    const myChart2 = new Chart(
      document.getElementById('CityType'),
      config2
    );
    </script>
<script>
    const data3 = {
      labels: ['Ucell', 'Beeline', 'Uzmobile', 'MobiUz'],
      datasets: [{
        data: {{ work }},
        backgroundColor: [
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
        ]},]
    };

    // config
    const config3 = {
      type: 'bar',
      data: data3,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };

    // render init block
    const myChart3 = new Chart(
      document.getElementById('Work'),
      config3
    );
    </script>
<script>
    const data4 = {
      labels: ['Ucell', 'Beeline', 'Uzmobile', 'MobiUz'],
      datasets: [{
        data: {{ conversations }},
        backgroundColor: [
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
        ]},]
    };

    // config
    const config4 = {
      type: 'bar',
      data: data4,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };

    // render init block
    const myChart4 = new Chart(
      document.getElementById('Conversations'),
      config4
    );
    </script>
<script>
    const data5 = {
      labels: ['Ucell', 'Beeline', 'Uzmobile', 'MobiUz'],
      datasets: [{
        data: {{ calls }},
        backgroundColor: [
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
        ]},]
    };

    // config
    const config5 = {
      type: 'bar',
      data: data5,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };

    // render init block
    const myChart5 = new Chart(
      document.getElementById('Calls'),
      config5
    );
    </script>
<script>
    const data6 = {
      labels: ['Ucell', 'Beeline', 'Uzmobile', 'MobiUz'],
      datasets: [{
        data: {{ internet }},
        backgroundColor: [
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
          'rgba(90, 34, 139,1)',
        ]},]
    };

    // config
    const config6 = {
      type: 'bar',
      data: data6,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };

    // render init block
    const myChart6 = new Chart(
      document.getElementById('Internet'),
      config6
    );
    </script>
</body>
</html>