<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Proplex.kz</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/newstyle.css' %}">
    <link href="{% static 'css/style4.css'%}" rel="stylesheet">
</head>

<body>
    {% include "navbar.html" %}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb mb-30">
                    <a class="breadcrumb-item text-decoration-none" style="color: dodgerblue" href="{% url 'core:home' %}">В Начало</a>
                    <a class="breadcrumb-item text-decoration-none" style="color: dodgerblue" href="{% url 'core:home1' object.category.title 'all'%}">{{ object.category.title }}</a>
                    <a class="breadcrumb-item text-decoration-none" style="color: dodgerblue" href="{% url 'core:home1' object.category.title object.category.subcategory%}">{{ object.category.subcategory }}</a>
                    <span class="breadcrumb-item active" style="color: darkblue">{{ object.title }}</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Detail Start -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 mb-30">
                <img src="{{ object.image.url }}" width="420px" height="420px" class="img-fluid" alt="">
            </div>

            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 p-30">
                    <h3>{{ object.title }}</h3>
                    <div class="d-flex mb-3">
                        <div class="text-primary mr-2">
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star-half-alt"></small>
                            <small class="far fa-star"></small>
                        </div>
                    </div>
                    <h3 class="font-weight-semi-bold mb-4">{{ object.price }}KZT</h3>
                    <p class="mb-4">{{ object.description }}</p>
                    <div class="d-flex align-items-center mb-4 pt-2">
                         <a style="border-radius: 15px; color: dodgerblue" class="btn btn-outline-dark" href="{{ object.get_add_to_cart_url }}" ><i class="fa fa-shopping-cart mr-1"></i>Добавить в Корзину</a>
{#                        <button style="border-radius: 15px; color: dodgerblue" class="btn btn-outline-dark" id="add_to_card"  value="{{ item.slug }}" type="button">Добавить в Корзину</button>#}
{#                         <a class='btn btn-primary float-right' href="{{ object.get_add_to_cart_url }}" ><i class="fa fa-shopping-cart mr-1"></i>Добавить в Корзину</a>#}
                    </div>
                </div>
            </div>


        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="p-30">
                    <div>
                        <h4 class="mb-3">Дополнительное описание</h4>
                        <p>{{ object.description1 }}</p>
                        <hr>
                        <p>{{ object.description2 }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    {% include "footer.html" %}
</body>

</html>