<!-- Footer Start -->
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">Наши контакты и адреса </h5>
{#                <p class="mb-4">No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor. Rebum tempor no vero est magna amet no</p>#}
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>ТД  САУРАН по ул.Алматы 3</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>МАГАЗИН ARMAF  по ул.Генерал Сабыр Рахимова 91 НП-3</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+7 7073711017</p>
            </div>
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">Каталог</h5>
                <p class="mb-2">ПРОФИЛЬ ПВХ PROPLEX</p>
                <p class="mb-2">ПРОФИЛЬ</p>
                <p class="mb-2">W-100</p>
                <p class="mb-2">W-100</p>
                <p class="mb-2">СТЕКЛОПАКЕТ</p>
                <p class="mb-2">КОМПЛЕКТУЮЩИЕ</p>

            </div>
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                {% load static %}
                <h1 class="text-secondary text-uppercase mb-4">Мы в <img src="{% static 'img/2gis.png' %}" width="30%"></h1>
                <div id="map" style="width:100%; height:250px"></div>

            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<script type="text/javascript">
    var map;

    DG.then(function () {
        map = DG.map('map', {
            center: [54.98, 82.89],
            zoom: 13
        });

        DG.marker([54.98, 82.89]).addTo(map).bindPopup('Здесь мы находимся');
    });
</script>
