.container{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.logo-mamc{
    width: 10%;
    height: 10%;
    padding-top: 1%;
}

.logo-zakaz{
    width: 8%;
    height: 10%;
    padding-top: 1%;
}



.desc{
    text-align: center;
    margin-bottom: 20px;
}

.title{
    margin-bottom: 10px;
}

#chartdiv1,#chartdiv,#chartdiv2,#chartdiv3{
    width: 119%;
    height: 275px;
    text-align: center;


}

.title-ucell{
    margin-top: 3%;

    text-align: center;
    padding-left: 38%;
}

.general-indicator{
    width: 88%;
    display: flex;
    justify-content: space-between;
    margin: 0 4% ;
    padding-right: 4%;
    border: 1px solid #f1f1f1;
    box-shadow: 2px 3px 10px 0px;

}

.general-wrap{
    display: grid;
    justify-content: center;


}

.img-wrap {
    padding-left: 92px;
}



.img-desc{
    display: flex;
    align-items: center;
    gap: 20px;


}

.img-img{
    width: 15%;
}

.green {
    color: green;
}

.yellow{
    color: orange;
}

.red{
    color: red;
}

.statistics-container{
    display: flex;
    justify-content: center;
    gap: 10%;
    color: #7c7b7b;
    margin: -6% -2%;
    font-size: 15px;
}

.sample-container{
    justify-content: center;
    align-items: center;
}

.sample-wrap{
    margin-left: 38%;
    margin-right: 38%;
    /*width: 30%;*/
    align-items: center;
    justify-content: space-between;

}


.sample-title{
    text-align: center;
    margin-top: 8%;
    color: #5e5e5e;
}

.sample-desc{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 30px;

}



.img-selection{
    display: grid;
    justify-content: center;
    align-items: center;
    /*margin: -6%;*/
    /*  position: relative;*/
}

.img-logo{
    width: 50%;
}

.psevdo1{
    position: relative;
}

.psevdo1::after{
    content: '';
    position: absolute;
    width: 5%;
    height: 3%;
    color: red;
    top: 10%;
    left: 10%;
}










.ucel{
    color: #f355f3;
}

.beeline{
    color: #f1f106;
}
 .mobiuz{
     color: red;
 }

 .uzmob{
     color: #00acc1;
 }

 .age-container{
     display: flex;
     gap: 5px;
     margin-top: 1%;
     position: relative;
 }

 .wrap{
     width: 30%;
 }

 .wrap-reg{
     width: 40%;
 }

 .age-title{
     text-align: center;
     margin-bottom: 2%;
 }

 .ucell-age,.beeline-age,.uzmob-age,.mobiuz-age{
     position: absolute;
    width: 5%;
    height: 4%;
    top: 93%;
 }

 .ucell-age{
     left: 2%;
 }

 .beeline-age{
    left: 9%;
 }

 .uzmob-age{

    left: 16%;
 }

 .mobiuz-age{
     left: 23.8%;
 }

 .ucell-age1,.beeline-age2,.uzmob-age3,.mobiuz-age4{
     position: absolute;
    width: 5%;
    height: 4%;
    top: 93%;
 }

 .ucell-age1{
     left: 32%;
 }

 .beeline-age2{
    left: 39%;
 }

 .uzmob-age3{
    left: 46.5%;
 }

 .mobiuz-age4{
     left: 54%;
 }

 .ucell-reg,.beeline-reg,.uzmob-reg,.mobiuz-reg{
     position: absolute;
     width: 4.5%;
     height: 3.9%;
 }

 .ucell-reg{
     top: 33%;
     left: 60%;
 }

 .beeline-reg{
     top: 50%;
    left: 60%;
 }

 .uzmob-reg{
     left: 60%;
    top: 68%;
 }

 .mobiuz-reg{
     top:85.5%;
     left: 60%;
 }


 .desc-text {
     font-size: 30px;
     margin-top: 20px;
     text-align: center;
     padding-bottom: 14px;
 }

 .region-title{
     text-align: center;
     font-size: 18px;
     padding: 1% 0px;
 }

 .desc-indic{
  display: flex;
     justify-content: center;
     align-items: center;
     gap: 47px;
     position: relative;
 }

 .ucell-indic,.beeline-indic,.uzmob-indic,.mobiuz-indic,.ucell-indic1,.beeline-indic2,.uzmob-indic3,.mobiuz-indic4{
     width: 4%;
     height: 5%;
     position: absolute;
     top:93%;
     /*transform: rotateZ(339deg);*/
 }

 .ucell-indic{
     left:4.5%;
 }

 .beeline-indic{
     left:9%;
 }

 .uzmob-indic{
     left:14.5%;
 }

 .mobiuz-indic{
     left:19.7%;
 }

 .ucell-indic1{
     left: 28.5%;
 }

 .beeline-indic2{
     left: 34%;
 }

 .uzmob-indic3{
    left:  39%
 }

 .mobiuz-indic4{
     left: 44%;
 }

 .ucell-indic11,.beeline-indic22,.uzmob-indic33,.mobiuz-indic44,.ucell-indic11-1,.beeline-indic22-2,.uzmob-indic33-3,.mobiuz-indic44-4{
     width: 4%;
     height: 5%;
     position: absolute;
     top:93%;
 }

 .ucell-indic11{
     left: 52.8%;
 }

 .beeline-indic22{
      left: 58%;
 }

 .uzmob-indic33{
     left: 63%;
 }

 .mobiuz-indic44{
     left: 68%;
 }

  .ucell-indic11-1{
     left: 77%;
 }

 .beeline-indic22-2{
      left: 82%;
 }

 .uzmob-indic33-3{
     left: 87%;
 }

 .mobiuz-indic44-4{
     left: 92.5%;
 }

 .ucell-sim1,.beeline-sim1,.uzmob-sim1,.mobiuz-sim1,.ucell-sim2,.beeline-sim2,.uzmob-sim2,.mobiuz-sim2{
     width: 4.5%;
     height: 3%;
     position: absolute;
     top: 96%;
 }

 .ucell-sim1{
     left: 4.5%;
 }

 .beeline-sim1{
     left:17%;
 }

 .uzmob-sim1{
     left: 29.5%;
 }

 .mobiuz-sim1{
     left: 41.5%;
 }

  .ucell-sim2{
     right:  40.5%;
 }

 .beeline-sim2{
     right:28%;
 }

 .uzmob-sim2{
    right:  15.8%;
 }

 .mobiuz-sim2{
     right: 3.8%;
 }

.box2{
     width: 21%;
     height: 100%;
 }

 .desc-title{
     text-align: center;
     font-size: 20px;
 }

 .sim-container{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
     margin-top: 40px;
     position: relative;
 }

 .sim-style{
     width: 50%;
 }

 .sim-title{
     text-align: center;
 }



@media  screen and (max-width: 991px){
    .logo-mamc, .logo-zakaz {
                width: 10%;
                height: 40px;
                padding-top: 10px;
    }

    .general-indicator{
                display: flex;
                width: 98%;
                margin: 0 0%;
                padding-right: 3%;
    }

    .title-ucell.ucell1{
        width: 10%;
        padding-left: 28%;
    }

    .desc-indic {
    gap: 1px;
    }


    .box2{
        width: 100%;
    }

    .desc-title {
     text-align: center;
     font-size: 16px;
    }
}







